<div class="home-body-format">

    <div class="item-one">
        <h1>
            What's Included?
        </h1>
        <div class="body-one">
            Everything you need to schedule and monitor your background jobs
            without writing any code. Focus on your application, and we will
            handle the scheduling part.
        </div>
        <br>
        <div class="item-one-content">
            <mat-card>
                <mat-card-title>
                    User's rating
                </mat-card-title>
                <mat-card-content>
                    Search for top developers based on your criteria.
                    See results by our unique rating system
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>
                    Instantly Connect
                </mat-card-title>
                <mat-card-content>
                    Send direct messages to top developers of your choice.
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>
                    Graphical Analytics
                </mat-card-title>
                <mat-card-content>
                    Graphical Analytics
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>Quick Access to Social Media and Other Links</mat-card-title>
                <mat-card-content>
                    
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
    
    <div class="item-two">
        <h1>
            How does it work?
        </h1>
        <!--
            Section #1
        -->
        <div>
            <div>
                <h2>
                    Developer Search
                </h2>
                <p>
                    1. Selected your filters and search for developers.
                </p>
                <p>
                    2. Add developers to your watchlist.
                </p>
                <p>
                    3. Direct message developers for interviews.
                </p>
                <p>
                    4. Hire top talent.
                </p>
            </div>

            <div>
                Add image here...
                <img>
            </div>
        </div>

        <!--
            Section #2
        -->
        <div>
            <div>
                <h2>
                    Projects Search
                </h2>
            </div>
        </div>
        
    </div>
    
    <!-- <div class="item-three">
        Affordable Plans for every recruiter.
    </div>
    
    
    <div class="item-four">
        Frequently Asked Questions
    </div>
    
    <div class="item-five">
        Let's get your first scheduler up and running.
        <br>
        It takes less than a minute.
    </div> -->

</div>