.header-body {
    height: 40vh;
    width: 100%;
    background-color: #1988d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .header-item {
        color: white;
    }
}