<!-- <app-header></app-header> -->
<!-- <div style="height: 100%; background-color: teal;">
    Whole thing
</div> -->
<div class="header-body">
    <div>
        <h1 style="color: white">
            Welcome!
        </h1>
    </div>

    <div class="header-item">
        <h3>
            GitCrypto.io is a developer network and payment solution for 
            <br>
            open source projects powered by . . .
        </h3>
    </div>

    <h1>Coinbase & GitLab</h1>

    <div class="mat-card-position">
        <mat-card class="mat-card-login">
            <div class="mat-card-login-order">
                <div>
                    Connect with...
                </div>
                <button mat-raised-button color="primary" (click)="coinbaseLogin()">Login with Coinbase</button>
                <button mat-raised-button color="warn" (click)="gitlabLogin()">Login with GitLab</button>

                <div>
                    <mat-divider></mat-divider>
                </div>
                
                <div>
                    <span></span>
                </div>

                <div>
                    <input matInput placeholder="Email">
                </div>
                <div>
                    <input matInput placeholder="Password">
                </div>

                <button mat-raised-button (click)="createUser()">Submit</button>


            </div>
            
        </mat-card>
    </div>
</div>



